.format{
    background-color:rgb(182, 255, 231);
    width : 100%;
    padding: 10px;
    border: black 1px solid;
    text-align: center;
    margin: 0px;
}

.cacher{
    width : 100%;
    padding: 10px;
    border: black 1px solid;
    margin: 0px;
    text-align: center;
}