
<h2>app component</h2>
<!-- barre de navigation -->
<!-- <nav>
    <a href="exo1">exo1</a>
    <a href="exo5">exo5</a> -->
    <!-- Avec les balise a on fait des refraiche et on perd des infos comme les inputs et les chronos -->
    <!-- on va devoir faire un router link: lien que pour naviguer dans l'application et href pour lien externe -->
<!-- <nav>
    <a routerLink="exo1">exo1</a>
    <a routerLink="exo5-cours">exo5</a>
    <a routerLink="ex-pipe-spoiler">exo spoiler</a>
    <a routerLink="ex-pipe-chrono">exo chronos</a>
</nav>  -->

<nav>
    <app-nav-bar></app-nav-bar>
</nav>


<router-outlet></router-outlet>
<!-- router outlet pour afficher les component du module démo -->