<p>ex4-menu works!</p>
 <h1>exo menu</h1>




  <button (click)="toggleisOpen()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
      </svg> 
<!--       
        <ul *ngIf="isOpen">
            <li *ngFor="let link of tabLink; index as i; last as last; odd as odd "> 
                {{link}}
            </li>
        </ul> -->
  </button>

  <div *ngIf="isOpen">
    <ul>
        <li *ngFor="let link of tabLink; index as i; last as last; odd as odd "> 
            {{link}}
        </li>
    </ul>
</div>
